<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>SAS Model Manager</title>
</head>

<body>
    <h1>Welcome to your SAS Model Manager!</h1>
    <img
     class="fruit-pic1"
     src="/stylesheets/socialShareImage.img.ece96782b7e5888ed6cf6b3caa530936.png"
     alt="SAS Institute Logo"
   />


    <p>An app to manage your machine learning models in a registry!</p>
    <a class="models-index-link" href="/models">
        <div class="index-link-text">Browse Models</div>
    </a>

</body>

</html>