<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Model Index</title>
</head>
<body>
    <h1>All Models!</h1>
    <ul>
    <% models.forEach(Model => { %>
        <li><a href="/models/<%= Model._id %>"><%= Model.name %></a></li>
   <% }); %>
    </ul>
    <a href="/models/new">Add New Model</a>
</body>
</html>